:root {
    --grey: #c5c1c0;
    --black: #0a1612;
    --darkBlue: #1a2930;
    --yellow: #f7ce3e;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    color: white;
}

.preview-img {
    float: left;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card {
    background-color: var(--grey);
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.card .image-effect {
    font-size: 0;
    overflow: hidden;
}

.card .image-effect img {
    width: 100%;
    height: 400px;
    transition: all .3s;
}

.card:hover .image-effect img {
    transform: scale(1.2);
}

.card .text-effect {
    position: absolute;
    top: 15px;
    right: 15px;
    left: 15px;
    bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, .8);
    overflow: hidden;
    transition: all .3s ease-in;
    opacity: 0;
}

.card .text-effect .text {
    position: absolute;
    padding: 15px;
    z-index: 1;
}

.card .text-effect:before,
.card .text-effect:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 0;
    content: '';
}

.card .text-effect:before {
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    left: -100%;
    top: 0;
}

.card .text-effect:after {
    border-bottom: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    left: 100%;
    bottom: 0;
}

.card:hover .text-effect {
    opacity: 1;
}

.card:hover .text-effect:after,
.card:hover .text-effect:before {
    animation-delay: .1s;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.card:hover .text-effect:after {
    animation-name: left-up;
}

.card:hover .text-effect:before {
    animation-name: right-dn;
}

@keyframes left-up {
    0% {
        left: 100%;
        height: 0;
    }

    50% {
        left: 0;
        height: 0;
    }

    100% {
        left: 0;
        height: 100%;
    }
}

@keyframes right-dn {
    0% {
        left: -100%;
        height: 0;
    }

    50% {
        left: 0;
        height: 0;
    }

    100% {
        height: 100%;
        left: 0;
    }
}

.text {
    color: #ffffff;
}

.card:hover {
    opacity: 90%;
    cursor: pointer;
}


.contact-text {
    color: black;
    font-size: unset;
}

.contact-text:hover {
    color: blue;
}

.my-name {
    font-size: 200%;
}

h4 {
    font-weight: 750;
    font-size: 200%;
}

.footer {
    background-color: var(--darkBlue);
    color: white;
    text-align: center;
}

.nav {
    background-color: var(--darkBlue);
}

.top-bar ul {
    background-color: unset;
}

.profilePic {
    border-radius: 100px;
}

.thumbnail {
    border: unset;
}

a {
    font-size: larger;
    color: var(--yellow);
}

a:hover {
    color: var(--yellow);
    opacity: 80%;
}

p {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

tr td {
    background-color: var(--yellow);
    font-weight: bold;
}

tr td a {
    font-weight: bold;
    text-decoration: underline;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.form-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.form-btn {
    display: block;
    background-color: white;
    padding: 5px 20px 5px 20px;
    margin-left: auto;
    margin-right: auto;
}

.form-btn:hover {
    cursor: pointer;
}
footer{
    height:155px;
}
.nav-and-body{
    min-height: calc(100vh - 155px);
}
.icons{
    color:#ffffff
}
.icons:hover{
    cursor: pointer;
    color: #f7ce3e;
}
.icon-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
